In [232]:
import re
import numpy as np

In [233]:
text = """555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"""

## 1. Extract the names of each individual from the unformatted text string and store them in a vector of some sort. When complete, your vector should contain the following entries:

In [234]:
name = re.sub(r'[0-9-()]+', ' ', text)#use sub function in order to remove numbers from the list
name#failed grouping each name

' Moe Szyslak   Burns, C. Montgomery   Rev. Timothy Lovejoy   Ned Flanders Simpson, Homer Dr. Julius Hibbert'

In [235]:
#redo from original data list by using findall function
name1 = re.findall('[A-z,\.]+\s[A-z,\.+\s[A-z,\.]+',text) 
# find any upper and lower cases and group each name including ',' and '.'
name1 #find any words including upper and lower cases and ',' and '.'

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

## 2. Using your new vector containing only the names of the six individuals, complete the following tasks:

(a) Use your regex skills to rearrange the vector so that all elements conform to the standard "first name lastname", preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [236]:
first_lastname = [] # setup a new list
for n in name1:
    pattern = re.compile(', ') # using compile function in order to find out last name and first name order 
    if re.search(pattern,n): 
        splitname = re.split(pattern,n) # split the name in that case
        name = splitname[1] + ' ' + splitname[0] # re-organize the results to first and last name
        first_lastname.append(name)
    else:
        first_lastname.append(n)
first_lastname

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

(b) Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.).

In [256]:
# use regex match function and find any title more than two words. Make it simple using numpy function.
title = np.array([re.match('[A-z]{2,}[.]',t) for t in first_lastname]) 
title != None

array([False, False,  True, False, False,  True])

(c) Construct a logical vector indicating whether a character has a middle/second name.

In [244]:
# use regex match function and find any middlename, which consists of one word.   
middlename = np.array([re.match('[A-Z][.]',t) for t in first_lastname]) 
middlename != None

array([False,  True, False, False, False, False])

## 3. Consider the HTML string and Explain why this fails and correct the expression.

In [248]:
# follow the instruction and find out error
html = '<title>+++BREAKING NEWS+++<title>'
html_incorrect = re.match('<.+>', html)
print(html_incorrect)

<re.Match object; span=(0, 33), match='<title>+++BREAKING NEWS+++<title>'>

In [250]:
# Fix the error
title = '<.+?>'
html_correct = re.match(title, html).group()
print(html_correct)

<title>

Answer: Since '<.+>' means to extract entire string, we got an incorrect result. To fix this error, I believe we need to add '?', which means the qualifier makes it perform the match as few characters as possible will be matched.

## 4. Consider the string “(5-3)^2=5^2-2x5x3+3^2” conforms to the binomial theorem. We would like to extract the formula in the string. Explain why this fails and correct the expression.

In [253]:
# follow the instruction and find out error
df = '(5-3)^2=5^2-2*5*3+3^2'
theorem_incorrect = re.findall('[^0-9=+*()]+', df)
theorem_incorrect

['-', '^', '^', '-', '^']

In [258]:
# Fix the error
theorem_correct = re.findall('[0-9-^=+*()]+', df)
theorem_correct

['(5-3)^2=5^2-2*5*3+3^2']

Answer: We got incorrect results from '[^0-9=+*()]+' because it is extracted only special characters. Since the pattern character '^' comes at the beginning, the following patterns are disregarded. Therefore, caret pattern needs to be relocated. Adding '-' and '^' between '9' and '=', we got the correct answer.